.archive_voitures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.archive_voiture_card {
    width: 30%;
    background: #fff;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.archive_voiture_card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 4px 8px rgba(255, 193, 0, 0.34);
}

.archive_voiture_card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.img-car{
    position: relative;
}

.entry-content {
    padding: 15px;
}

.entry-content h2 {
    font-size: 1.25em;
    margin: -20px 0 0 0;
}

.entry-content p {
    margin: 5px 0;
}

.entry-content p strong {
    font-weight: bold;
}

.entry-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s;
}

.entry-content a:hover {
    background: #333;
}

.filter-form {
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.filter-group input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.filter-group button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.entry-price{
    margin-top:-15px !important;
    margin-bottom:1.25rem !important;
}

.sub-infos p{
    color : grey;
    font-size:.95rem;
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.sub-infos p img{
    width: 30px;
    height: auto;
    border: none;
    margin-right: -10px;
}

.sub-title{
    display: flex;
    justify-content: space-evenly;
}

.pictos{
    display:flex;
    justify-content: space-between;
}

.pictos p{
    font-size: .70rem;
}

.filter-form {
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.filter-group button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.price-range-value {
    margin-top: 5px;
    font-size: 1.2em;
}

.titre{
    padding-left: 1rem;
    margin-bottom: 80px;
    gap: 0;
    position: relative;
    h1{
        margin-bottom: 0 !important;
    }
    p{
        margin-top: 0 !important;
        color: #999999;
    }
}

.titre::before{
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #F8EB4C;
    top: 0;
    left: 0;
}

.moreFilters{
    display: none;
}

.car-vendue{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #EFDF00;
    text-align: center;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.car-vendue h3{
    transform: rotate(-25deg);
}

.seeMore{
    cursor: pointer;
    width: fit-content;
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sliders_control {
    position: relative;
    min-height: 50px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.range-filter{
    .range_container{
        margin: 0 auto;
        margin-top: 1rem;
    }
}

.kilometreFilter{
    input{
        border: #8f8e9c solid 1px;
        border-radius: 4px;
    }
}

.selectOption{
    select{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #8f8e9c;
        border-radius: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .post-type-archive-voitures{
        .filter-form{
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .titre{
            margin-bottom: 20px;
        }
        .titre::before{
            left:2%;
        }
        .site-main{
            padding-top: 70px;
            margin: 0;
        }
        .archive_voitures{
            flex-direction: column;
            .archive_voiture_card{
                width: 100%;
                .sub-title{
                    justify-content: start;
                    p{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    
}